@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .advertise {
    @apply relative flex flex-col w-[90%] mx-auto gap-5 justify-end text-white bg-center mt-10 h-[90vh] bg-no-repeat rounded cursor-pointer;
  }

  .advertise_description {
    @apply flex flex-col gap-4 bg-[#302f2f16] max-w-[100%] h-[100%] z-10 items-center justify-end pb-10;
  }

  .shop_button {
    @apply px-2.5 py-2 bg-white text-[#222] text-sm rounded font-medium;
  }

  .black_hover {
    @apply bg-[#00000000] flex items-center justify-center text-[#ffffff00] h-full w-full absolute hover:bg-[#00000066] hover:text-[#ffffff] transition-[ease_2s];
  }

  .signin_button {
    @apply px-2 py-1 bg-black text-center font-extrabold text-white cursor-pointer;
  }

  .footer_bottom {
    @apply mx-auto flex flex-col items-center pt-20 pb-10 gap-4;
  }

  .footer_top {
    @apply flex mx-auto justify-between px-8 pt-20;
  }

  .nav_header_links_container {
    @apply max-w-7xl flex justify-center gap-5 mx-auto pt-4;
  }

  .navbar {
    @apply flex mx-auto max-w-6xl justify-between py-6 items-center
  }

  .icon {
    @apply h-8 w-8 cursor-pointer;
  }

  .swap_button {
    @apply py-1 px-2 border-[1px] border-[#222] rounded-full cursor-pointer hover:bg-red-600 hover:text-[#ffff] hover:border-red-600;
  }

  .card_content {
    @apply flex aspect-square items-center justify-center flex-col relative;
  }

  .input_container {
    @apply relative border-b border-black mt-[30px] ;
  }

  .lable {
    position: absolute;
    top: 0;
    left: 5px;
    transition: all 0.3s linear;
    z-index: 1;
    font-size: 10px;
  }

  .input_register {
    @apply outline-none relative z-[2] bg-transparent p-[2px_5px] text-xs;
  }

  input:focus+.lable , input:valid+.lable{
    top: -18px;
    font-size: 12px;
  }
  .auth_headlines{
    @apply font-normal text-xl pb-2 border-b border-gray-300 text-[#222];
  }
  .auth_subtitle{
    @apply font-semibold text-base;
  }
  .logwith{
    @apply flex items-center border-[1px] border-black pr-10 cursor-pointer;
  }
  .logwith_text{
    @apply text-xs;  
  }
}